html{
    scroll-behavior: smooth;/* za da bide smooth scrollo so pritiskanje na menu itemite*/
}

html,body{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body{
    font-family: 'Lato' , sans-serif;
    margin:0;
    padding:0;
    
}
nav{
    background-image:linear-gradient(rgb(37, 0, 0),40%,black);
    color:white;
    padding: 20px 50px;
}
.navTop{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.middle{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: -50px;
}
.logo{
    cursor: pointer;
    position: relative;
}
.search{
    display:flex;
    align-items: center;
    background-color: lightgrey;
    padding: 5px 10px;
    margin: 0px 100px;
    border-radius: 15px;
}
.searchBar{
    border: none;
    background-color: transparent;
}
.searchBar::placeholder{
    color: black;
}
.name1 , .name2{
    font-size: 1.6em;
    border-bottom:4px solid red;
    line-height: 0px;
    position:relative;
}

.login{
    cursor:pointer;
}


.container{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    background-image:linear-gradient(to bottom,black,10%, rgb(22, 0, 0));
    color:#fff;   
    display: flex;
    align-items: center;
    justify-content: center;
}
.card{
    width:350px;
    height: 500px;
    box-shadow: 0 0 40px 20px rgba(255, 38, 38, 0.26);
    perspective: 1000px;
}
.inner-box{
    position:relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 1s;
}
.card-front, .card-back{
    position:absolute;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: cover;
    background-image:linear-gradient(rgba(100, 0, 0, 0.8),rgba(15, 0, 0, 0.8)), url(logo.png);
    box-sizing: border-box;
    padding:55px;
    backface-visibility: hidden;
}
.card-back{
    transform: rotateY(180deg);
}
.card h2{
    font-weight: normal;
    font-size: 24px;
    text-align: center;
    margin-bottom:20px;

}
.input-box{
    width:100%;
    text-align: center;
    background:transparent;
    border:1px solid #fff;
    margin:6px 0;
    height: 32px;
    border-radius: 20px;
    padding:0 5px;
    color:#fff;
}
::placeholder{
    color: #fff;
    font-size: 12px;
}

.card button{
    width: 100%;
    background-color: transparent;
    border: 1px solid #fff;
    margin:35px 0 10px;
    height: 32px;
    color:#fff;
    font-size: 12px;
    border-radius: 20px;
    padding: 0 10px;
    box-sizing: border-box;
    cursor: pointer;
}
.submit-btn{
    position:relative;
}
.submit-btn::after{
    content:'\27a4';
    color: #333;
    line-height: 33px;
    font-size: 17px;
    height:32px;
    width: 32px;
    border-radius: 50%;
    background: #fff;
    position:absolute;
    right: -1px;
    top: -1px;
    
}
.remember{
    font-size: 13px;
    margin-left: 10px;
    position: absolute;
    margin-top:1px;
}
.card .button{
    margin-top:50px;
}
.card a{
    color: #fff;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top:10px;
    font-size: 13px;
}