body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

#game-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#word-container {
    font-size: 24px;
    letter-spacing: 10px;
}

#guess-input {
    font-size: 24px;
    text-align: center;
    width: 50px;
}

#message {
    margin-top: 20px;
    font-size: 18px;
}

#new-game-button {
    margin-top: 20px;
}
