
body {
    font-family: cursive;
    text-align: center;
    margin-top: 5%;
    background-image: url("pizza-chef.png");
    background-repeat: no-repeat;
    background-position: right;
    }
    
h1 {
    font-size: 2em;
    color: rgb(168, 95, 0);
    text-shadow: 2px 2px rgb(166, 151, 151);
    }

form {
    display: inline-block;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 20px;
    border: 0.5em outset rgb(166, 151, 151);
    box-shadow: 25px 35px 10px rgba(166, 151, 151, 0.604);
    background-image: url('pizza.avif');
    background-position: center;
    background-repeat: no-repeat;
    background-size:75%;
    }

label {
    font-weight: 600;
    font-size: 1.2em;
    }

p {
    margin: 10px 0;
    }

input[type="text"], input[type="tel"], select, textarea {
    width: 90%;
    padding: 5px;
    border: 2px outset burlywood;
    border-radius: 5px;
    margin-bottom: 10px;
    }

input[type="radio"], input[type="checkbox"] {
    margin-left: 10px;
    }

input[type="submit"], input[type="reset"] {
    font-weight: bold;
    border: thin solid;
    border-radius: 10px;
    cursor: pointer;
    background-color: rgb(29, 235, 29);
    margin-bottom: 3px;
    box-shadow: 0px 4px #999;
    padding: 10px 20px;
    }

input[type="submit"]:hover, input[type="reset"]:hover {
    background-color: rgb(0, 188, 0);
    }

input[type="submit"]:active, input[type="reset"]:active {
    box-shadow: 0px 1px #666;
    transform: translateY(3px);
    }

textarea {
    border-radius: 10px;
    }

input[type="radio"], input[type="checkbox"] {
    margin-left: 10px;
    transform: scale(1.5); 
    accent-color: rgb(168, 95, 0); 
    cursor: pointer;
    margin-right: 10px;
}

input[type="radio"]:hover, input[type="checkbox"]:hover {
    outline: 2px solid burlywood;
    border-radius: 5px;
}

input[type="checkbox"]:checked {
    background-color: rgb(168, 95, 0);
    border-color: rgb(168, 95, 0);
}

input[type="radio"]:checked {
    background-color: rgb(168, 95, 0);
    border-color: rgb(168, 95, 0);
}

select {
    width: 90%; 
    padding: 5px;
    font-family: cursive;
    font-weight: 600;
    background-color: #f9f9f9;
    border: 2px outset burlywood;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 2px 2px 5px rgb(166, 151, 151);
    margin-bottom: 10px;
    color: rgb(168, 95, 0);
}

select option {
    font-family: cursive;
    font-weight: 600;
    background-color: #f2f2f2;
    color: rgb(168, 95, 0);
}

select:hover, select:focus {
    outline: none;
    border-color: rgb(168, 95, 0);
    background-color: #fff7e6;
    box-shadow: 2px 2px 8px rgb(168, 95, 0);
}
